/* // Email Styles */

.email-search {
    height: 6vh;
    background-color: rgba(128, 128, 128, 0.068);
    border-radius: 20px;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 3vh;
    margin-top: 3vh;
    user-select: none;
    font-family: openSans;
    outline: none;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.623);
    padding-left: 50px;
    padding-right: 15px;
    transition: 0.5s;
}

.email-search:focus {
    background-color: rgba(163, 215, 245, 0.205);
}

.email-search-img {
    width: 35px;
    padding: 5px;
    margin-right: -40px;
    opacity: 0.6;
}

.email-main-content {
    min-height: 70vh;
    background-color: #d1d8e0;
}

.main-email-content {
    background-color: #ffffff;
}

.emails-list {
    overflow: auto;
    height: 74vh;
    width: 85vw;
    display: block;
    padding-right: 0.3rem;
}

.emails-list-topbar {
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border-radius: 0px;
    border-bottom: 1px solid rgba(182, 176, 176, 0.596);
}

.emails-list-topbar h3 {
    /* color: white; */
    margin-left: 15px;
}

@media (max-width: 1060px) {
    .emails-list {
        width: 76vw;
    }
}

.email-search-container {
    margin-left: 3%;
}

.email-section form {}

@media (max-width: 1200px) and (min-width: 700px) {
    .emails-list .email-card-to {
        display: none;
    }
    .emails-list .email-card-name {
        font-size: 12px;
        margin-left: 15px;
    }
    .emails-list .email-card-date {
        display: none;
    }
}

@media (max-width: 700px) {
    .email-content .emails-list {
        width: 100vw;
        padding: 0px;
    }
    .emails-list .email-card img {
        width: 20px;
    }
    .main-email-content .emails-list .email-card {
        width: 95vw;
        padding-top: 1px;
        padding-bottom: 1px;
        max-height: 50px;
        margin: 0 auto;
        margin-bottom: 5px;
        border-top: 1px solid rgba(128, 128, 128, 0.342);
        border-bottom: 2px solid rgba(94, 150, 253, 0.425);
    }
    .emails-list .email-card-date {
        display: none;
    }
    .emails-list .email-card-to {
        display: none;
    }
    .emails-list .email-card-name {
        font-size: 12px;
        margin-left: 5px;
    }
    .emails-list .email-card-subject {
        font-size: 11px;
        color: rgba(39, 38, 38, 0.692);
    }
    .emails-list .email-card-msg {
        font-size: 10px;
        width: 35vw;
        max-width: none;
    }
    .emails-list .email-card-subject-body {
        font-size: 10px;
        width: 35vw;
        max-width: none;
        margin-left: 40px;
    }
    .emails-list .email-list-btns {
        width: 50vw;
    }
}

.email-card {
    color: black;
    background-color: #f1f2f6;
    margin-bottom: 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 5px 0px rgba(236, 231, 231, 0.623);
    border-bottom: 2px solid rgba(199, 197, 197, 0.397);
    cursor: pointer;
}

.email-card:hover {
    border-bottom: 2px solid #45aaf294;
}

@media (max-width: 440px) {
    .main-email-content .emails-list .email-card {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.email-card-subject-body>* {
    display: block;
}

.email-card-subject {
    text-align: start;
    margin: 0px;
    color: rgba(0, 0, 0, 0.822);
    font-weight: bold;
}

.email-isRead {
    color: black;
    background-color: #f1f2f648;
    margin-bottom: 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 5px 0px rgba(236, 231, 231, 0.623);
    border-bottom: 2px solid rgba(199, 197, 197, 0.397);
    cursor: pointer;
}

.email-isRead>* {
    opacity: 0.4;
}

.email-isRead:hover {
    background-color: #f1f2f6;
    border-bottom: 2px solid #45aaf294;
}

.email-card>* {
    display: inline-block;
}

.email-content {
    background-color: #ffffff;
    text-align: center;
    min-height: 85vh;
}

.email-card-name {
    font-size: 0.9rem;
    margin-left: -5vw;
    width: 7vw;
    text-align: start;
}

.email-card-msg {
    font-style: italic;
    color: rgba(104, 104, 104, 0.664);
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 30vw;
    min-width: 30vw;
    display: inline-block;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
    text-align: start;
    margin: 0px;
}

.email-card-to {
    color: rgba(121, 121, 124, 0.473);
    font-size: 0.8rem;
    margin-left: -7vw;
    width: 7vw;
    text-align: start;
}

.email-card-date {
    color: rgba(160, 154, 154, 0.712);
    font-size: 0.7rem;
    margin-right: -4vw;
}

.email-card-star {
    width: 20px;
    cursor: pointer;
}

.email-card-star:hover {
    filter: brightness(1.4);
}


/* Send EMail */

@media (max-width: 700px) {
    .main-email-content .email-form-content {
        width: 95vw;
        margin: 0 auto;
    }
    .main-email-content .email-form-content h3 {
        width: 95vw;
        margin-left: 2.5vw;
    }
    .main-email-content .email-form-container input {
        height: 5vh;
        border: 1px solid rgba(0, 0, 0, 0.233);
        border-radius: 10px;
        text-align: start;
        padding: 1rem;
        outline: none;
    }
    .email-form-content .btn-form {
        width: 50vw;
        margin-left: 22.5vw;
    }
    .main-email-content .email-form-container {
        width: 95vw;
        margin-left: 2.5vw;
    }
    .main-email-content .email-form-container textarea::placeholder {
        text-align: center;
        transform: translate3d(0, 12vh, 0);
        font-size: 1.5rem;
    }
}

.email-form-content {
    width: 75vw;
    margin: 2vw;
}

.email-form-content h3 {
    background-color: #353b48;
    margin-bottom: 1rem;
    color: white;
    text-align: start;
    padding: 1rem;
    border-radius: 20px;
}

.email-form-container>* {
    margin-bottom: 2vh;
}

.email-form-container input {
    text-align: center;
    height: 5vh;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    text-align: start;
    padding: 1rem;
    outline: none;
}

.email-form-container input:focus {
    box-shadow: 0 0 1pt 1pt #00a8ff;
}

.btn-form {
    background-color: #00a8ff;
    padding: 0px;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(133, 133, 133, 0.534);
    text-align: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.726);
    text-transform: uppercase;
    outline: none;
}

.email-form-container textarea {
    text-align: start;
    height: 30vh;
    resize: none;
    font-family: openSans;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

.email-form-container textarea:focus {
    box-shadow: 0 0 1pt 1pt #00a8ff;
}

.email-form-container textarea::placeholder {
    text-align: center;
    transform: translate3d(0, 10vh, 0);
    font-size: 2rem;
}

.email-form-container {
    margin: 0 auto;
}


/* // EMail Details */

.email-details-right-btns>* {
    margin-right: 20px;
}

.email-details-back {
    background-color: #00a8ff;
    padding: 0px;
    padding: 15px 30px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px 1px rgba(133, 133, 133, 0.534);
    text-align: center;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.726);
    text-transform: uppercase;
    outline: none;
    margin-top: 20px
}

.email-details-back:hover {
    box-shadow: 0 0 1pt 1pt #00aaffcb;
}

.email-list-btns>* {
    margin-left: 0.7rem;
}

.email-card-details {
    background-color: #ffffff;
    width: 80vw;
    height: 70vh;
    margin: 25px auto;
}

.email-details-name {
    font-size: 1.3rem;
    color: rgb(255, 254, 254);
    margin-left: 20px;
}

.email-details-body {
    background-color: #ffffff;
    width: 70vw;
    min-height: 60%;
    border-radius: 15px;
    text-align: start;
    padding: 0px 20px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.596);
    border: 1px solid rgba(155, 155, 155, 0.329);
    word-break: break-all;
    word-spacing: 1px;
    line-height: 30px;
    box-shadow: 0 0 1pt 1pt #00aaff28;
    margin-top: 30px;
}

@media (max-width: 700px) {
    .main-email-content .email-details-body {
        width: 90vw;
        margin-left: 20vw;
    }
    .main-email-content .email-details-topinfo {
        width: 95vw;
        margin-left: 2.5vw;
        margin-bottom: 20px;
    }
    .main-email-content .email-details-to {
        display: none;
    }
    .main-email-content .email-details-back {
        margin-left: 30vw;
        width: 40vw;
        margin-top: 20px;
    }
    .main-email-content .email-details-toEmail {
        display: none;
    }
    .main-email-content .email-details-name {
        width: 100px;
        margin-left: 20px;
    }
    .main-email-content .email-details-right-btns {
        width: 400px;
    }
}

.email-details-to {
    font-size: 1rem;
    color: grey;
    margin-left: 20px;
    padding: 5px;
}

.email-details-toEmail {
    position: relative;
    margin-top: 20vh;
}

@media (max-width: 730px) {
    .email-details-body .email-details-toEmail {
        display: none;
    }
    .emails-list-topbar {
        flex-direction: column;
    }
}

.email-details-topinfo {
    width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #353b48;
    color: white;
    font-size: 1.4rem;
    height: 55px;
}

.email-details-date {
    font-size: 0.9rem;
    float: right;
    margin-top: 0px;
}

.email-details-topinfo img {
    width: 20px;
}

.details-name-toEmail {
    width: 335px;
}

.details-name-toEmail>* {
    display: inline-block;
    text-align: start;
    margin: 2px;
}

.email-details-subject {
    border-bottom: 1px solid rgba(199, 197, 197, 0.397);
}

.email-details-subject:hover {
    border-bottom: 1px solid #45aaf294;
}

.hello-user-header {
    font-size: 1.1rem;
    padding-top: 26px;
    padding-bottom: 26px;
    border-radius: 50px;
    cursor: auto;
}

.hello-user-container {
    border: none;
}

.email-send-btn {
    border-radius: 0px 0px 10px 10px;
    font-size: 1rem;
}

.email-send-btn img {
    width: 2.5vw;
    height: 2.5vw;
    min-width: 30px;
    min-height: 30px;
}

.email-send-btn img:hover {
    filter: brightness(1.2);
}

.box-side-nav {
    padding-top: 70px;
    display: inline-block;
    height: 85.5vh;
    width: 15vw;
    min-width: 160px;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.637);
    border-right: 1px solid rgba(0, 0, 0, 0.233);
    background-color: #ffffff;
}

@media (max-width: 700px) {
    .email-content .box-side-nav {
        height: unset;
        position: fixed;
        z-index: 900;
        bottom: 50px;
        left: 15px;
        background-color: rgba(0, 128, 0, 0);
        border: none;
        min-width: unset;
        width: unset;
        font-size: 1rem;
    }
    .email-content .box-side-nav p {
        display: none;
    }
    .container-number-pop .number-pop {
        position: fixed;
        bottom: 155px;
        left: 42px;
        top: unset;
        z-index: 999;
    }
    .side-nav-mobile-hide {
        z-index: -1;
        visibility: hidden;
    }
    .email-content .box-side-nav>* {
        background: transparent;
        user-select: none;
    }
    .box-side-nav .hello-user-container {
        display: none;
    }
    .email-content .box-side-nav img::selection {
        background: transparent;
    }
    .box-side-nav .active-tab {
        background: transparent;
    }
    .box-side-nav .email-send-btn {
        user-select: none;
        background: transparent;
        border: none;
        margin-top: 10px;
    }
    .email-content .box-side-nav img {
        width: 35px;
        height: 35px;
        user-select: none;
    }
    .email-content .box-side-nav img:hover {
        transform: scale(1.5);
        transition: ease-in;
        transition-duration: 0.1s;
    }
    .box-side-nav .hello-user-header {
        display: none;
    }
    .box-side-nav .mobile-burger {
        z-index: 3;
        visibility: visible;
        user-select: none;
        bottom: 10px;
    }
    .box-side-nav .mobile-burger {
        border: none;
    }
}

.mobile-burger {
    position: fixed;
    visibility: hidden;
}

.box-side-nav>* {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.email-send-btn {
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.email-send-btn p {
    width: 5vw;
}

.email-send-btn p:hover {
    transform: scale(1.1);
    transition: 7s ease-in;
}

.active-tab>* {
    background-color: #d8d6d649;
}


/* // empty msg */

.empty-box-msg {
    font-size: 50px;
    margin-left: 20%;
    margin-top: 30%;
    width: 60vw;
    color: rgba(128, 128, 128, 0.678);
}


/* Animtaion Helpers */

.border {
    border-bottom: 2px solid rgba(199, 197, 197, 0.397);
}

.border:hover {
    border-bottom: 2px solid #45aaf294;
}

.smallerAnim:hover {
    transform: scale(0.91);
}

.biggerAnim:hover {
    transform: scale(1.1);
}

.container-number-pop {
    position: relative;
}

.number-pop {
    float: left;
    position: absolute;
    left: 2vw;
    top: 0px;
    color: white;
    background-color: #eb2f06;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.emailCard-effect {
    color: black;
    font-weight: lighter;
    /* opacity: 0.5; */
}


/* unFinishedEmail */

.unFinishedEmail-container {
    position: fixed;
    right: 2vw;
    bottom: 2vw;
    height: 40px;
    width: 100px;
    background-color: #353b48;
}

.emails-switch[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 51px;
    height: 25px;
    border: 1px solid rgba(128, 128, 128, 0.781);
    border-radius: 30px;
    user-select: none;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
}

.emails-switch[type=checkbox]::after {
    content: '';
    position: absolute;
    background: rgb(96, 96, 97);
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 1.5px;
    user-select: none;
    outline: none;
}

.emails-switch[type=checkbox]:checked::after {
    background: #20bf6b;
    transform: translateX(20px);
    transition: 0.5;
}