@import 'email.css';
@import 'notes.css';
* {
    box-sizing: border-box;
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: openSansBold;
    src: url(fonts/OpenSans-Bold.ttf)
}


/* BASICS */

body {
    margin: 0;
    font-family: openSans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

iframe,
audio {
    width: 100%;
    outline: none;
}


/* CONTAINER */

.container {
    width: 85vw;
    margin: 0 auto;
}


/* *** COMPONENTS *** */


/* HEADER */

.main-header {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid rgb(231, 231, 231);
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-bottom: 100px;
    top: 0;
}

.logo {
    font-family: openSansBold;
    font-size: 2rem;
    color: rgb(255, 113, 4);
    letter-spacing: -2px;
    text-transform: uppercase;
}

.logo-icon {
    width: 55px;
    margin-right: 5px;
}

.main-nav li {
    margin-right: 10px;
}

.main-container {
    margin-top: 90px;
}


/* User Msg */

.user-msg {
    background-color: #ffffff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 1.2em;
    padding: 10px 20px;
    border: 2px solid #45aaf2;
    border-radius: 10px;
    color: #778ca3;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.35);
}

.user-msg button {
    margin-left: 10px;
    float: right;
    border-radius: 50%;
    border: none;
    background-color: rgb(235, 235, 235);
    transition: .3s;
    padding: 7px;
}

.user-msg button:hover {
    background-color: #fc5c65;
    color: white;
}


/* *** HELPERS *** */

.fade-in {
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* List Helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* Flex Helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}

.flex.even {
    justify-content: space-evenly;
}