* {
    box-sizing: border-box;
}

@font-face {
    font-family: openSans;
    src: url(fonts/OpenSans-Regular.ttf)
}

@font-face {
    font-family: openSansBold;
    src: url(fonts/OpenSans-Bold.ttf)
}

/* BASICS */

body {
    margin: 0;
    font-family: openSans;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}

iframe,
audio {
    width: 100%;
    outline: none;
}

/* CONTAINER */

.container {
    width: 86vw;
    margin: 0 auto;
}

/* *** COMPONENTS *** */

/* HEADER */

.main-header {
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo {
    font-family: openSansBold;
    font-size: 2rem;
    color: rgb(255, 113, 4);
    letter-spacing: -2px;
    text-transform: uppercase;
}

.logo-icon {
    width: 55px;
    margin-right: 5px;
}

.main-nav li {
    margin-right: 10px;
}

/* *** NOTES PAGE *** */

.notes-main-add {
    background-color: #dbe1e7;
    padding: 10px;
}

.add-note-input {
    width: 33vw;
    padding: 15px;
    outline: none;
    font-family: openSans;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
}

.add-note-options img {
    width: 20px;
    margin-right: 12px;
    cursor: pointer;
    opacity: .5;
    transition: .3s;
}

.add-note-options img:hover {
    opacity: 1;
}

.note-list {
    /* column-count: 4; */
    padding: 10px 0;
}

.add-note-options .opacity {
    opacity: 1;
}

.single-note {
    background-color: #ffe06e;
    width: 300px;
    min-height: 150px;
    box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.6);
    margin: 10px;
    padding: 15px;
    border-radius: 3px;
}

.note-img {
    margin-top: 10px;
    max-width: 100%;
    width: 270px;
}

.note-options {
    margin-top: 15px;
}

.note-content {
    flex-grow: 1;
}

.note-options img {
    opacity: .6;
    transition: .3s;
    cursor: pointer;
}

.note-options img:hover {
    opacity: 1;
}

.note-options img {
    width: 18px;
    margin-right: 15px;
}

.color-picker {
    background-color: white;
    width: 120px;
    padding: 4px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 99;
    box-shadow: 0 0 7px 0px rgba(0,0,0,0.75);
    margin-top: 5px;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.color-picker label {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 3px;
    cursor: pointer;
}

.cp-red {
    background-color: #fc5c65;
}

.cp-blue {
    background-color: #4b7bec;
}

.cp-turq {
    background-color: #2bcbba;
}

.cp-orange {
    background-color: #fd9644;
}

.cp-yellow {
    background-color: #fed330;
}

.cp-grey {
    background-color: #778ca3;
}

.cp-green {
    background-color: #26de81;
}

.cp-basic {
    background-color: #ffe06e;
}

.cp-black {
    background-color: #000000;
}

.shown {
    opacity: 1;
    visibility: visible;
}

/* *** HELPERS *** */


/* List Helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Flex Helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.align-start {
    align-items: flex-start;
}

.flex.align-end {
    align-items: flex-end;
}


/* // Email Styles */

.email-main-content {
    width: 100vw;
    min-height: 70vh;
    background-color: grey;
    margin: 0 auto;
}

.emails-list {
    margin-left: 5vw;
}

.email-section {
    width: 80vw;
}

.email-section form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    margin-bottom: 1rem;
}

.email-card {
    width: 100%;
    background-color: rgba(197, 197, 197, 0.616);
    margin-bottom: 0.7rem;
    border-radius: 20px;
    height: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 0px 26px 5px rgba(0, 0, 0, 0.35);
}

.email-search {
    height: 5vh;
    background-color: rgba(128, 128, 128, 0.24);
    border-radius: 20px;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-bottom: 3vh;
    margin-top: 3vh;
    user-select: none;
    outline: none;
    border: none;
}

.email-card>* {
    display: inline-block;
}

.email-card-date {
    color: rgba(231, 225, 225, 0.473);
    font-size: 0.7rem;
}

.email-content {
    background-color: #d1d8e0;
    text-align: center;
    min-height: 85vh;
}

.email-card-star {
    width: 20px;
}

.email-card-star:hover {
    filter: brightness(1.4);
}


/* Send EMail */

.email-form-container input {
    text-align: center;
    height: 5vh;
}

.email-form-container textarea {
    text-align: center;
    height: 5vh;
}

.email-form-container {
    background-color: #fff;
}


/* // EMail Details */

.email-card-details {
    background-color: #d1d8e0;
    width: 90vw;
    height: 100%;
}

.email-card-details button {
    width: 50px;
    height: 30px;
}

.email-preview-name {
    width: 20%;
    font-size: 15px;
}

.email-preview-body {
    background-color: rgba(89, 90, 90, 0.199);
    width: 90%;
    min-height: 60%;
    border-radius: 15px;
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.596);
    box-shadow: 0px 0px 26px 5px rgba(243, 240, 240, 0.137);
}

.email-preview-topinfo {
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    border-radius: 30px;
    background-color: rgba(61, 60, 60, 0.199);
}

.email-preview-date {
    margin-left: 60%;
    color: rgba(231, 225, 225, 0.473);
    font-size: 1rem;
}

/* // email box side nav  */

.box-side-nav {
    width: 15vw;
    height: 90vh;
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.637);
    border-right: 1px solid rgba(0, 0, 0, 0.233);
}

.box-side-nav>* {
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}